In [1]:
import pandas as pd

In [3]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\python\python38\lib\site-packages (3.0.9)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: et-xmlfile in c:\python\python38\lib\site-packages (from openpyxl) (1.1.0)

In [5]:
df=pd.read_excel(r'C:\Users\German\Desktop\my_excel_file.xlsx',sheet_name='First_Sheet')

In [6]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [9]:
wb=pd.ExcelFile(r'C:\Users\German\Desktop\my_excel_file.xlsx')

In [10]:
wb.sheet_names

['First_Sheet']

In [11]:
excel_sheet_dict=pd.read_excel(r'C:\Users\German\Desktop\my_excel_file.xlsx',sheet_name=None)

In [12]:
type(excel_sheet_dict)

dict

In [14]:
excel_sheet_dict

{'First_Sheet':     a   b   c   d
 0   0   1   2   3
 1   4   5   6   7
 2   8   9  10  11
 3  12  13  14  15}

In [15]:
type(excel_sheet_dict)

dict

In [16]:
excel_sheet_dict.keys()

dict_keys(['First_Sheet'])

In [17]:
excel_sheet_dict['First_Sheet']

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [18]:
excel_sheet_dict

{'First_Sheet':     a   b   c   d
 0   0   1   2   3
 1   4   5   6   7
 2   8   9  10  11
 3  12  13  14  15}

In [19]:
our_df=excel_sheet_dict['First_Sheet']

In [20]:
our_df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [22]:
our_df.to_excel('example.xlsx',sheet_name='First_Sheet',index=False)